functions/__pycache__
classes/__pycache__
__pycache__
tests/reference/*xyz
tests/specular/doxorubicin_000_mirror.xyz
tests/control_distance/sphere_r_10.0_center_0.0_0.0_0.0_+x_d_10.00.xyz
.__main__.py.swp
.__main__.py.swo
