functions/__pycache__
classes/__pycache__
__pycache__

.__main__*

tmp/
venv/

tests/cone/*xyz
tests/graphene*/*xyz
tests/microscope/*xyz
tests/pyramid/*xyz
tests/rod*/*xyz
tests/sphere*/*xyz
tests/tip/*xyz
tests/cuboctahedron/*xyz
tests/decahedron/*xyz
tests/icosahedron/*xyz
tests/dimer/*xyz
tests/bowtie/*xyz
tests/sphere_continuum/*msh
tests/rod_continuum/*msh

tests/specular/*000*.xyz
tests/control_distance/sphere_r_10.0_center_0.0_0.0_0.0_+x_d_10.00.xyz
tests/control_rotation/doxorubicin_+x_degree_90.0.xyz
tests/t1_distance/doxorubicin_-y_d_15.20.xyz
tests/r1_rotation/doxorubicin_-y_degree_30.0.xyz

