# Include essential documentation
include README.md
include LICENSE
include install.sh
include environment.yml
include pyproject.toml


# Include test files (Python and XYZ)
recursive-include tests *.py
recursive-include tests *.xyz
recursive-include tests *.msh

